*{
    font-family: Helvetica;
}
.title{
    text-align: center;
}
#container{
    width: 480px;
    height: 480px;
    display: flex;
   flex-wrap: wrap;
   margin: auto ;
   
}
.element{
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color:rgb(226, 106, 37);
   
    
}
.highLight{
    background-color: rgb(33, 134, 218);
}

#reset{
 padding: 4px 9px;
 margin: auto;
}

.slider{
    appearance: none;
    width: 200px;
    height: 5px;
    background-color:  rgb(33, 134, 218);
    border: 2px solid;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    height: 30px;
    background:rgb(226, 106, 37);
}